@page
@model UCP.App.Frontend.Pages.DetallesModel
@{
}
<h1>Detalle Profesor</h1>
<table class="table">
<tr><td>@Model.Profesor.nombre<tr><td>
<tr><td>@Model.Profesor.apellidos<tr><td>
<tr><td>@Model.Profesor.identificacion<tr><td>
<tr><td>@Model.Profesor.telefono<tr><td>
<tr><td>@Model.Profesor.correo<tr><td>
<tr><td>@Model.Profesor.vehiculo_1<tr><td>
<tr><td>@Model.Profesor.facultad<tr><td>
<tr><td>@Model.Profesor.cubiculo<tr><td>
<tr><td>

<a class="btn btn-primary table-btn" asp-page="../Listas/Personas/">
Lista Personas </a>
<tr><td>
<table>